/* boxmodel.css */

body {
padding: 0;
margin: 0;
}

div#outerBox {
margin: 20px;
border: 10px solid black; /* Shorthand for styling a border */
background-color: yellow;
}

div#middleBox {
padding: 20px;
border: 20px dashed silver;
margin: 20px;
background-color: maroon;
}

div#innerBox {background-color: #fff;}
