.accordion-block {
    background-color: #e5e5ee;
    border: 1px outset #888888;
    /*border-radius: 15px;*/
    font-family: 'Oswald', 'Futura', sans-serif;
    font-size: large;
    width: 50%;
    min-height: 50px;
    text-align: center;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.first {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.accordion-block-body {
    display: none;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    font-size: medium;
    text-align: justify;
    word-wrap: break-word;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

