<h1>About Meadowlark Travel</h1>

<p>Your fortune for the day:</p>
{{!
Using two brackets here will escape any HTML in fortune, writing it as text
instead of rendering the html.
}}
<blockquote>{{fortune}}</blockquote>
