body {
    padding-top: 10px;
}
.header {
    padding-bottom: 20px;
}
.header h3 {
    margin-top: 10px;
}

.links-list li {
    position: relative;
    padding-left: 40px;
}

.up, .down {
    position: absolute;
    left: 10px;
    color: #BBB;
    cursor: pointer;
}

.up {
    top: 5px;
}

.down {
    top: 20px;
}

.vote-total {
    font-size: 12px;
    position: absolute;
    left: 7px;
    top: 21px;
    text-align: center;
    width: 20px;
}

.upvoted .up.vote, .downvoted .down.vote {
    color: #999;
}

.show-more {
    cursor: pointer;
}
.show-more:hover {
    background-color: #F2F2F2;
}

#map { position:absolute; top:77px; bottom:5%; left:5%; width:90%; }

/* Small screen:mobile */
@media only screen and (max-width: 500px) {
    body {
        background-color: #403c3b;
    }
    #page {
        max-width: 480px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #page {
        max-width: 480px;
        margin: 20px auto 20px auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #page {
        max-width: 480px;
        margin: 20px auto 20px auto;
    }
}
/* Larger screens act like a demo for the app */
@media only screen and (min-width: 960px) {
    #page {
        max-width: 480px;
        margin: 20px auto 20px auto;
    }
}

